html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: #696969;
    background-color: #747881;
    background-image: url(../images/colored-pencils.jpg);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 400px;
    color: white;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    font-size: 3em;
    text-shadow: 2px 2px gray;
}

h2 {
    font-size: 1.5em;
    text-shadow: 1px 1px gray;
}

a {
    text-decoration: none;
    color: inherit;
}

#changeTheme{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 75px;
  height: 20px;
  border: 1px solid #696969;
  border-radius: 10px;
  color: #696969;
  background-color: transparent;
  font-size: .5em;
  font-family: inherit;
  cursor: pointer;
}

.wrapper {
    width: 75vw;
    height: 100vh;
    padding: 10rem 2rem;
    margin: 0 auto;
}

.search {
    width: 400px;
    margin-bottom: 20%;
}

.search input {
    width: 100%;
    height: 40px;
    padding: 5px;
    color: inherit;
    font-family: inherit;
    font-weight: 600;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: inherit;
    font-weight: normal
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-family: inherit;
    font-weight: normal
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-family: inherit;
    font-weight: normal
}

:-moz-placeholder {
    /* Firefox 18- */
    font-family: inherit;
    font-weight: normal
}

#response {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

#response>ul {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#response>ul>li {
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-top: none;
}

.name {
    color: #800080;
    margin-bottom: 5px;
}

li:hover {
    background-color: #F5F5DC;
}

span.name {
    display: block;
    font-size: 16px;
    font-weight: 400;
}

span.location {
    display: block;
    font-size: 12px;
    font-weight: 400;
}

#userErrorMessage {
    display: none;
    width: 100%;
    min-height: 40px;
    margin: 0 auto;
    padding: 15px;
    color: #FF0000;
    background-color: white;
    font-size: .85em;
    font-weight: 600;
    text-align: center;
}


/*Media Queries*/

@media (min-width:992px) and (max-width:1200px) {
    body {
        background-size: cover;
    }
}

@media (max-width:991px) {
    body {
        width: 100vw;
        background-image: url(../images/colored-pencils-iPad.jpg);
        background-position: bottom center;
    }
    header, .search {
        margin: 0 auto;
    }
    .search {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .wrapper {
        padding-top: 4rem
    }
}

@media (max-width: 767px) {
    .wrapper {
        width: 100vw;
        padding-top: 2rem;
    }
    .search {
        min-width: 200px;
    }
}

@media (max-width: 479px) {
    header {
        width: 80%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.25em;
    }
}
